10.dz.out
1.unord.names.trimmed.sorted
2.unord.names.trimmed.sorted
all.bt2_la26.dz.out
all.bt2_la26.dz.out.gff
commnames.unord
foined.fas
fwd.paired.out.fq
fwd.paired.unord.out.fas
fwd.paired.unord.out.fq
fwd.test.flt.fq
fwd.test.unord.fq
fwd.unpaired.out.fq
fwd.unpaired.unord.out.fas
fwd.unpaired.unord.out.fq
fwd.unpaired.unord.out.fq.fas
joined.unord.out.fq.fas
old.sins_lins.e2e.sorted.bam.dz.out.gff
ordered.fwd.paired.unord.out.fq
ordered.rev.paired.unord.out.fq
orderPairedFastq.sh
orig.all.bt2_la26.dz.out.gff
ref.out.psl
rev.paired.out.fq
rev.paired.unord.out.fas
rev.paired.unord.out.fq
rev.test.flt.fq
rev.test.unord.fq
rev.unpaired.out.fq
rev.unpaired.unord.out.fas
rev.unpaired.unord.out.fq
rev.unpaired.unord.out.fq.fas
sins_4.dz.out
sins_4.dz.out.gff
sins_lins.e2e.sorted.bam.dz.out
slug.sins_lins.e2e.sorted.bam.dz.out.gff
test
test.bam.dz.out
test.gff
toTest_mergePE-Fwd-Rev.sh
unpaired.fwd.test.unord.fq.fas
unpaired.rev.test.unord.fq.fas
pairs.fwd.paired.out.fq
.project
